

body{
    font-family: 'Poppins';

}


.charWrapper {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
            z-index: 0;
}






.mdl{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.836);
   height: 100%;
   display: flex;

  
   
   
}
.mdl-content{
    display: flex;
     width: 80%;
   height: 50%;
   background-color: #ffff;
   margin: 0 auto;
   margin-top: 100px;

}
.closeBtn{
    width: 25px;
    height: 20px;
}